@model IEnumerable<EnvironmentSetting.ViewModel.UserViewModel>

@{
    ViewBag.Title = "GetAllUsers";
}


<h2>GetAllUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="AllUsersTable">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>
        }

    </tbody>

</table>
