
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/toastr/toastr.min.js"></script>

<script src="~/Scripts/App/Service/UsersService.js"></script>
<script src="~/Scripts/App/Controller/UsersController.js"></script>

<script>
    UsersController.GetAllUsers();
</script>

<h2>Irfan</h2>

